html{
	background-image:url('background.png');
	background-repeat:repeat;
	}
body{font-family:Arial,Helvetica,sans-serif;margin:0;color:#000;}
ul{margin:5px;padding-left:20px;}
.BodyContent{position:relative;left:0;top:0;width:100%;margin:0 auto 0 auto;}
.Border{position:relative;z-index:1;overflow:hidden;padding:4px 4px 4px 4px;color:#000;font-size:13px;}
.Border a{color:#5B1D00;text-decoration:underline;}
.Border a:visited{color:#5B1D00;text-decoration:underline;}
.Border a:hover{color:#000;text-decoration:none;}
.BorderBorder{z-index:0;position:relative;margin:0;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR,.BorderL,.BorderT,.BorderR,.BorderB,.BorderC{position:absolute;z-index:-1;overflow:hidden;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR{width:25px;height:25px;}
.BorderTL{top:0;left:0;background-image:url('images/BorderCorners.png');}
.BorderTR div,.BorderBL div,.BorderBR div{height:50px;width:50px;position:absolute;z-index:-1;background-image:url('images/BorderCorners.png');}
.BorderTR div{left:-25px;}
.BorderBL div{top:-25px;}
.BorderBR div{left:-25px;top:-25px;}
.BorderTR{top:0;right:0;}
.BorderBL{bottom:0;left:0;}
.BorderBR{bottom:0;right:0;}
.BorderT,.BorderB{left:25px;right:25px;height:25px;}
.BorderT{top:0;background-image:url('images/BorderHorizontal.png');}
.BorderB{bottom:0;}
.BorderB div{position:absolute;z-index:-1;top:-25px;height:50px;width:100%;background-image:url('images/BorderHorizontal.png');}
.BorderL,.BorderR{top:25px;bottom:25px;width:25px;}
.BorderL{left:0;background-image:url('images/BorderVertical.png');}
.BorderR{right:0;}
.BorderR div{position:absolute;z-index:-1;left:-25px;width:50px;height:100%;background-image:url('images/BorderVertical.png');}
.BorderC{left:25px;top:25px;right:25px;bottom:25px;background-image:url('images/BorderCenter.png');}
.BorderBorder{width:900px;margin:5px auto;}
.Header{position:relative;background-image:url('images/Header.png');background-repeat:no-repeat;padding:0;height:75px;color:#361717;}
.HeaderTitle{height:75px;width:900px;display:table-cell;text-align:Default;vertical-align:Bottom;color:#000;font-size:18px;text-decoration:none;font-style:italic;font-weight:bold;}
.HeaderTitle h1 a,.HeaderTitle h1 a:link,.HeaderTitle h1 a:visited,.HeaderTitle h1 a:hover{text-decoration:none;color:inherit;}
.HeaderTitle h1{margin:0;padding:0 8px;color:#fff0bc;font-size:28px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h2{margin:0;padding:0 8px;font-size:inherit;font-weight:inherit;color:#ffffd4}
.Menu{background:transparent url('images/MenuBar.png') no-repeat;padding:5px 19px 5px 19px;margin:0;text-align:Right;}
.Menu ul{list-style-type:none;padding:0;margin:0;color:#FFEFE8;}
.Menu li{display:inline;padding:0;margin:0;}
.MenuButton,.MenuButtonInput{border:0;margin:0;background:transparent url('images/MenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#FFEFE8;font-size:13px;vertical-align:middle;zoom:1;}
.MenuButton span,.MenuButtonInput span{border:0;margin:0;background:transparent url('images/MenuButton.png') no-repeat right top;display:block;position:relative;color:#FFEFE8;line-height:15px;}
.MenuButton span{padding:5px 18px 5px 0;}
.MenuButtonInput span{padding:0 18px 0 0;height:25px;}
.MenuButtonInput input{color:#FFEFE8;font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-18px;}
.MenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.MenuButton,.MenuButton:link,.MenuButton:visited,.MenuButton:hover,.MenuButton:active{text-decoration:none!important;outline:none;}
.MenuButton:hover,.MenuButtonInput:hover{background-position:left center;}
.MenuButton:hover span,.MenuButtonInput:hover span{background-position:right center;color:#000;}
.MenuButton:active,.MenuButtonInput:active{background-position:left bottom;}
.MenuButton:active span,.MenuButtonInput:active span{background-position:right bottom;color:#000;}
.ActiveMenuButton,.ActiveMenuButtonInput{border:0;margin:0;background:transparent url('images/ActiveMenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.ActiveMenuButton span,.ActiveMenuButtonInput span{border:0;margin:0;background:transparent url('images/ActiveMenuButton.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.ActiveMenuButton span{padding:5px 18px 5px 0;}
.ActiveMenuButtonInput span{padding:0 18px 0 0;height:25px;}
.ActiveMenuButtonInput input{color:#000;font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-18px;}
.ActiveMenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.ActiveMenuButton,.ActiveMenuButton:link,.ActiveMenuButton:visited,.ActiveMenuButton:hover,.ActiveMenuButton:active{text-decoration:none!important;outline:none;}
.ActiveMenuButton:hover,.ActiveMenuButtonInput:hover{background-position:left center;}
.ActiveMenuButton:hover span,.ActiveMenuButtonInput:hover span{background-position:right center;color:#000;}
.ActiveMenuButton:active,.ActiveMenuButtonInput:active{background-position:left bottom;}
.ActiveMenuButton:active span,.ActiveMenuButtonInput:active span{background-position:right bottom;color:#000;}
.Columns{overflow:hidden;}
.Column1{overflow:hidden;float:left;width:20%;}
.Column2{overflow:hidden;float:right;width:20%;}
.MainColumn{overflow:hidden;}
img{border:0;}
h2{margin:0;}
blockquote{width:80%;color:#000;border:solid 1px #333;background:#FFF;margin:0 auto;padding:15px;-webkit-border-radius:5px;-moz-border-radius:5px;}
blockquote a,blockquote a:link{color:#662000!important;text-decoration:underline;}
blockquote a:visited{color:#662000!important;text-decoration:underline;}
blockquote a:hover{color:#000!important;text-decoration:none;}
.Article{position:relative;z-index:1;overflow:hidden;padding:16px 16px 16px 16px;color:#000;font-family:Arial,Helvetica,sans-serif;font-size:13px;}
.Article a{color:#662000;text-decoration:underline;}
.Article a:visited{color:#662000;text-decoration:underline;}
.Article a:hover{color:#000;text-decoration:none;}
.ArticleBorder{z-index:0;position:relative;margin:0;}
.ArticleTL,.ArticleTR,.ArticleBL,.ArticleBR,.ArticleL,.ArticleT,.ArticleR,.ArticleB,.ArticleC{position:absolute;z-index:-1;overflow:hidden;}
.ArticleTL,.ArticleTR,.ArticleBL,.ArticleBR{width:22px;height:22px;}
.ArticleTL{top:0;left:0;background-image:url('images/ArticleCorners.png');}
.ArticleTR div,.ArticleBL div,.ArticleBR div{height:44px;width:44px;position:absolute;z-index:-1;background-image:url('images/ArticleCorners.png');}
.ArticleTR div{left:-22px;}
.ArticleBL div{top:-22px;}
.ArticleBR div{left:-22px;top:-22px;}
.ArticleTR{top:0;right:0;}
.ArticleBL{bottom:0;left:0;}
.ArticleBR{bottom:0;right:0;}
.ArticleT,.ArticleB{left:22px;right:22px;height:22px;}
.ArticleT{top:0;background-image:url('images/ArticleHorizontal.png');}
.ArticleB{bottom:0;}
.ArticleB div{position:absolute;z-index:-1;top:-22px;height:44px;width:100%;background-image:url('images/ArticleHorizontal.png');}
.ArticleL,.ArticleR{top:22px;bottom:22px;width:22px;}
.ArticleL{left:0;background-image:url('images/ArticleVertical.png');}
.ArticleR{right:0;}
.ArticleR div{position:absolute;z-index:-1;left:-22px;width:44px;height:100%;background-image:url('images/ArticleVertical.png');}
.ArticleC{left:22px;top:22px;right:22px;bottom:22px;background-image:url('images/ArticleCenter.png');}
.Article h2{color:#000;font-family:Verdana,Geneva,sans-serif;font-size:22px;text-decoration:none;font-style:normal;font-weight:bold;}
.Article h2 a,.Article h2 a:visited{color:#000;text-decoration:none;}
.Article h2 a:hover{text-decoration:underline;}
.Block{position:relative;z-index:1;overflow:hidden;padding:1px 1px 1px 1px;color:#000;font-size:13px;}
.Block a{color:#662000;text-decoration:underline;}
.Block a:visited{color:#662000;text-decoration:underline;}
.Block a:hover{color:#000;text-decoration:none;}
.BlockBorder{z-index:0;position:relative;margin:5px;}
.BlockTL,.BlockTR,.BlockBL,.BlockBR,.BlockL,.BlockT,.BlockR,.BlockB,.BlockC{position:absolute;z-index:-1;overflow:hidden;}
.BlockTL,.BlockTR,.BlockBL,.BlockBR{width:15px;height:15px;}
.BlockTL{top:0;left:0;background-image:url('images/BlockCorners.png');}
.BlockTR div,.BlockBL div,.BlockBR div{height:30px;width:30px;position:absolute;z-index:-1;background-image:url('images/BlockCorners.png');}
.BlockTR div{left:-15px;}
.BlockBL div{top:-15px;}
.BlockBR div{left:-15px;top:-15px;}
.BlockTR{top:0;right:0;}
.BlockBL{bottom:0;left:0;}
.BlockBR{bottom:0;right:0;}
.BlockT,.BlockB{left:15px;right:15px;height:15px;}
.BlockT{top:0;background-image:url('images/BlockHorizontal.png');}
.BlockB{bottom:0;}
.BlockB div{position:absolute;z-index:-1;top:-15px;height:30px;width:100%;background-image:url('images/BlockHorizontal.png');}
.BlockL,.BlockR{top:15px;bottom:15px;width:15px;}
.BlockL{left:0;background-image:url('images/BlockVertical.png');}
.BlockR{right:0;}
.BlockR div{position:absolute;z-index:-1;left:-15px;width:30px;height:100%;background-image:url('images/BlockVertical.png');}
.BlockC{left:15px;top:15px;right:15px;bottom:15px;background-image:url('images/BlockCenter.png');}
.BlockHeader{border:0;margin:0;background:transparent url('images/BlockHeaderAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:block;color:#000;font-size:13px;font-weight:bold;vertical-align:middle;zoom:1;}
.BlockHeader span{border:0;margin:0;background:transparent url('images/BlockHeader.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.BlockHeader span{padding:5px 18px 5px 0;}
.BlockHeader{margin:0 0 1px 0;}
.BlockContentBorder{position:relative;z-index:1;overflow:hidden;padding:5px 5px 5px 5px;color:#000;font-size:13px;margin:5px;}
.BlockContentBorder a{color:#662000;text-decoration:underline;}
.BlockContentBorder a:visited{color:#662000;text-decoration:underline;}
.BlockContentBorder a:hover{color:#000;text-decoration:none;}
.Button,.ButtonInput{border:0;margin:0;background:transparent url('images/ButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:33px;padding:0 0 0 22px;display:inline-block;color:#FFE7DC;font-size:13px;vertical-align:middle;zoom:1;}
.Button span,.ButtonInput span{border:0;margin:0;background:transparent url('images/Button.png') no-repeat right top;display:block;position:relative;color:#FFE7DC;line-height:15px;}
.Button span{padding:9px 22px 9px 0;}
.ButtonInput span{padding:0 22px 0 0;height:33px;}
.ButtonInput input{color:#FFE7DC;font-size:13px;color:inherit;height:33px;padding:0 22px;margin:0 -22px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-22px;}
.ButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.Button,.Button:link,.Button:visited,.Button:hover,.Button:active{text-decoration:none!important;outline:none;}
.Button:hover,.ButtonInput:hover{background-position:left center;}
.Button:hover span,.ButtonInput:hover span{background-position:right center;color:#000;}
.Button:active,.ButtonInput:active{background-position:left bottom;}
.Button:active span,.ButtonInput:active span{background-position:right bottom;color:#000;}
.Footer{color:#FFF;font-size:13px;text-align:Center;background:url('images/Footer.png') bottom left;overflow:hidden;padding:5px 19px;}
.Footer a{color:#FFE7DC;text-decoration:underline;}
.Footer a:visited{color:#FFE7DC;text-decoration:underline;}
.Footer a:hover{color:#FFF;text-decoration:none;}
.BackLink{text-align:center;display:block;display:block;font-size:11px;padding:0 0 12px;color:#000;}
.BackLink a{color:#000;}
.smart-player-embed-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 852px;
  height: 0;
  overflow: hidden;
  padding-top: calc(480 / 852 * 100%);
  position: relative;
}

.smart-player-embed-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 852px;
  max-height: 480px;
}

@media screen and ( max-height: 480px )
{
   .smart-player-embed-iframe {
     max-height: 100vh;
   }
}
table{
  border-collapse: collapse
}

td{
  border: 1px solid black;
  padding: 10px;
}